DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/aequatio
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=30
CORS_ORIGINS=http://localhost:5173
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
